body{
    background-color: aliceblue;
    color: #000;
}
h1{
    text-align: center;
    font:100px bold;
}
h2{
    text-align: center;
    font:100px bold;
    color:green
}
.btn{
    align-items: center;
    text-align: center;
}
.btn button{
    width: 100px;
    height: 50px;
    margin: 30px;
    background-color: slategrey;
}
.btn button:hover{
    background-color: darkslategray;
}
